body
{
	height: 85vh;
	background-color: #fff5e6;
}
section
{
	padding: 15px;
	width: 30vw;
}
img
{
	width: 120px;
	height: 160px;
	border-radius: 12%;
	margin-right: 20px;
}
h2
{
	font-family: 'Lato', sans-serif;
}
p
{
	font-family: 'Asap', sans-serif;
}
.date
{
	color: #555;
	font-style: italic;
}
#main-wrapper
{
	margin: 10px 100px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	flex: 1;
}
#section-wrapper
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	text-align: justify;
	flex: 1;
	margin: 20px;
}
.link
{
  	box-shadow: 0 3px 0 #008080;
  	position: relative;
  	text-decoration: none;
  	color: #000;
}
.link:hover 
{
	color: #000;
	text-decoration: none;
	background-color: #eee4d5;
}
.link:active 
{
  	box-shadow: none;
  	top: 5px;
}
.link:visited
{
	color: #000;
}
@media screen and (max-width: 1024px)
{
	footer
	{
		display: none;
	}
	#sidebar
	{
		display: none;
	}
	#main-wrapper
	{
		margin: auto;
	}
	#section-wrapper
	{
		display: flex;
		flex-direction: column;
		margin: 10px;
	}
	section
	{
		padding: 10px;
		width: auto;
	}
}
@media screen and (max-height: 900px)
{
	footer
	{
		display: none;
	}
	body
	{
		height: 100vh;
	}
}
/*header style*/
header
{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-family: 'Lato', sans-serif;
	margin: 20px;
}
/*sidebar style*/
#sidebar
{
	height : 100%;
	width: 100px;
	background-color: #333;
	position: fixed;
	left: 0px;
}
/*footer style*/
#footer {
  	background-color: #222;
  	color: #fff6e7;
  	padding: 5px;
  	text-align: center;
  	width: 100%;
  	position: fixed;
  	bottom: 0px;
}
#copyright
{
	font-size: 0.7em;
}
.btn-footer {
  	background-color: #222;
  	width: 56px;
  	height: 56px;
  	border-style: none;
  	border-radius: 50%;
  	margin:  0px 10px;
}
.btn-footer:hover
{
	background-color: #008080;
}